
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-image: url('images/bg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  top: 0px; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}


/* Navbar */



/* Top Background */
.background {
  /* background-image: url('images/bg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  top: 0px; */
}
.texture {
  /* background-image: url("images/texture.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background-repeat: no-repeat; */
}
.container-top {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 30px !important;
  margin-right: 10px !important;
}
.section-top {
  min-width: 90vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section-top-left {
  background-color: #ffde59;
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10px;
  margin: 10px
}


.section-top-right {
  background-color: rgba(255, 255, 255, 0.432);
  backdrop-filter: blur(10px);
  padding: 50px;
  margin: 10px;
  border-radius: 10px;
}

.section-top-right h2 {
  font-weight: 600;
}
.section-top-right h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 5px;
}

.section-top-right h6 {
  font-weight: 700;
  color: brown;
  letter-spacing: 5px;
}

.btn-custom {
  background-color: tomato;
  color: white;
}
.btn-custom:hover {
  color:white;
}

/* sections */

/* .section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
} */

.text-center {
  margin: 30vh 10vw;
}

/* Features */


.img-feature {
  max-width: 400px;
  height: auto;
}

.feature-col{
  background-color: rgba(255, 255, 255, 0.432);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 5px 5px;
}


/* about */
.img-about {
  height: 200px;
  width: auto;
}

.card-about {
  background-color: rgba(255, 255, 255, 0.432);
  backdrop-filter: blur(10px);
}



/* Download Component */
.download-card {
  background-color: rgba(255, 255, 255, 0.432);
  backdrop-filter: blur(10px);
}

/* Contact Container */



/* Footer */

